[scaler]
do_token = 00000000000000000000000000000000000000000000000000000000000000000
tag_name = web
policy_files = mem_avail.json loadavg.json down.json

[scaler.metrics]
address = private_ip_address
port = 9110

[digitalocean_create_droplet]
do_token = ${scaler:do_token}
max = 8
droplet = web.json

[digitalocean_destroy_droplet]
min = 2

[health_check_tcp]
address = private_ip_address
ports = 9110 80
timeout = 10
interval = 10
max_tries = 12
